/* Login page */
#login-form {
  background-image:url("../assets/images/the-games-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.form-signin .checkbox {
  font-weight: 300;
}

.form-signin input[type="email"] {
  margin-bottom: 1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}



.form-signin input[type="password"] {
  margin-bottom: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

form {
  min-width: 30rem;
  min-height: 20rem;
}
